body {
  margin: 0;
  font-family: 'Courier New', monospace;
  background-color: #111;
  color: #f0f0f0;
}

header, footer {
  padding: 2rem;
  text-align: center;
  background: #222;
  border-bottom: 1px solid #444;
}

main {
  padding: 2rem;
}